#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-11 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-11 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-11 .mbr-article {
  color: #fff;
}
#ext_menu-13 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-13.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-13 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-13 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-14 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-14 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-14 .mbr-article {
  color: #fff;
}
#header3-15 P {
  color: #faaf40;
}
#ext_menu-17 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-17 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-17 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-18 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-18 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-18 .mbr-article {
  color: #fff;
}
#header3-19 P {
  color: #faaf40;
}
#ext_menu-20 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-20.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-20 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-20 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-21 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-21 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-21 .mbr-article {
  color: #fff;
}
#header3-22 P {
  color: #faaf40;
}
#ext_menu-23 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-23.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-23 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-23 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-24 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-24 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-24 .mbr-article {
  color: #fff;
}
#header3-25 P {
  color: #faaf40;
}
#ext_menu-26 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-26.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-26 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-26 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-27 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-27 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-27 .mbr-article {
  color: #fff;
}
#ext_menu-29 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-29.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-29 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-29 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-30 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-30 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-30 .mbr-article {
  color: #fff;
}
#header3-31 P {
  color: #faaf40;
}
#ext_menu-32 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-32.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-32 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-32 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-33 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-33 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-33 .mbr-article {
  color: #fff;
}
#header3-34 P {
  color: #faaf40;
}
#ext_menu-36 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-36.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-36 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-36 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-37 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-37 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-37 .mbr-article {
  color: #fff;
}
#header3-38 P {
  color: #faaf40;
}
